<!DOCTYPE html>
<html>
  <head>
    <title>MessageMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <div id="flash-container" class="flash-container d-flex justify-content-center">
        <% flash.each do |message_type, message| %>
          <%= render FlashComponent.new(message_type: message_type, message: message) %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
